@keyframes slide{
   0%{
    left: 100%;
    right: 0%;
   }
   100%{
    left: 70%;
    right: 30%;
   }
}
.slideouts{
    height: 100vh;
    background-color: white;
    font-family: 'Fira Sans';
    padding: 1% 2%;
    animation: slide 0.5s ease 1s forwards;
}
.slideouts-exit{
    position: relative;
    left: 82.5%;
    top: -0.5em;
    border: none;
    background-color: transparent;
    color: rgba(84, 84, 84, 1);
}
.slideouts-header h2{
    position: relative;
    right: 0.5%;
    margin-top: -5%;
    font-size: 25px;
}
.slideouts-body{
    position: relative;
    height: 87.5vh;
    margin: 0% 12.5% 0% 0%;
}

.slideouts--small{
    position: fixed;
    right: 0%;
    top: 0%;
    left: 70%;
    width: 30% ;
}
.slideouts--medium{
    position: fixed;
    right: 0%;
    top: 0%;
    left: 50%;
    width: 40% ;
}
